# uv
.venv/
.uv-cache/

# marimo
__marimo__/
.marimo/
*.marimo.py.bak

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# marimo
__marimo__
